{% extends "allianceauth/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_title %}
    {% if category %}
        {% blocktrans %}Viewing {{ category }} Topics{% endblocktrans %}
    {% else %}
        {% trans "Viewing All Topics" %}
    {% endif %}
{% endblock page_title %}

{% block content %}

    <div class="col-lg-12 col-md-12">
        <h2 class="page-header">
            {% if category %}
                {% blocktrans %}Viewing {{ category }} Topics{% endblocktrans %}
            {% else %}
                {% trans "Viewing All Topics" %}
            {% endif %}
        </h2>
        <div class="list-group">
            <div class="list-group-item active">
                <a href="{% url 'bbs:topic-create' %}" class="btn btn-sm btn-default">New Topic</a>
            </div>
            {% include "bbs/list_topics_body.html" %}
        </div>
    </div>
{% endblock content %}
